$fa-font-path: "../fork-awesome/fonts";

@import "fork-awesome";
@import "pure-min";
@import "grids-responsive-min";
@import "pure-extras";
@import "awesomplete";

$white: #fff;
$black: #000;
$almost-white: #f5f5f5;
$dark-gray: #252525;
$light-gray: #707070;
$main-green: #1b926c;
$light-green: #b0ddce;
$dark-green: #186446;
$red: #ac2925;
$orange: #d28314;
$blue: #0b5ea6;
$background-color: #d0d0d0;
$background-linklist-info: #ddd;
$light-shadow: rgba(255, 255, 255, .078);
$dark-shadow: rgba(0, 0, 0, .298);
$warning-text: #97600d;
$form-input-border: #d8d8d8;

.fa-color-red {
	color: $red;
}

.fa-color-orange {
	color: $orange;
}

.fa-color-green {
	color: $main-green;
}

:root {
  --main-color: #{$main-green};
  --background-color: #{$white};
  --dark-main-color: #{$dark-green};
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../fonts/roboto-v20-latin-500italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto-v20-latin-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2');
}

// General

// Box sizing
*, *:before, *:after {
    box-sizing: border-box;
}

body {
	background: var(--background-color);
	font: 16px/1.4 Roboto, arial, sans-serif;
	color: $dark-gray;
}

.pure-g [class*=pure-u] {
	font-family: Roboto, arial, sans-serif;
}

/* Set up pure grids to have 20px gutters @ 1140px (use 12 not 24) */
.pure-g-full {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.pure-g-full > * {
    padding: 0 10px;
}

.strong {
  font-weight: bold;
}

.clear {
  clear: both;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.label {
  display: inline-block;
	position: relative;
	top: -1px;
  border-radius: .25rem;
	margin-right: 4px;
  padding: 6px 8px;
  vertical-align: baseline;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
	background: $blue;
	color: $white;
}

.label-tag {
	margin-bottom: 8px;
	a {
		text-decoration: none;
		color: $white;
		&:hover {
			opacity: 0.8;
		}
	}
}

pre {
  max-width: 100%;
}

// Extends Pure grids responsive to hide items.
// Use xx-0 to hide an item on xx screen.
// Display it at any level with xx-visible.
.pure-u-0 {
  display: none !important;
}

// Make pure-extras alert closable.
.pure-alert-closable {
  .fa-times {
    float: right;
  }
}

.pure-alert-close {
  cursor: pointer;
	font-size: 24px;
	padding: 16px 24px;
	margin: -16px -26px 0 0;
	&:hover {
		opacity: 0.8;
	}
}

.pure-alert-success {
  background-color: var(--main-color);
}

.pure-alert-warning {
  a {
    color: $warning-text;
    font-weight: bold;
  }
}

.page-single-alert {
  margin-top: 100px;
}

.anchor {
  &:target {
    padding-top: 40px;
  }
}

// Pure Button
.pure-button,
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-primary,
.pure-button-secondary {
	border-radius: 4px;
	text-shadow: 0 1px 1px $dark-shadow;
	.fa {
  		text-shadow: 0 1px 1px $dark-shadow;
	}
}

// MENU
#shaarli-menu {
	background: var(--main-color);
	margin-bottom: 20px;
}

.shaarli-menu {
	margin-left: auto;
	margin-right: auto;
	& > div {
		margin-bottom: 8px;
	}
	.search-linklist {
		padding-left: 28px;
		margin-bottom: 20px;
	}
}

.pure-menu-item {
  // Chrome bugfix: with 100% height, it only displays the first element.
  height: 45px;

  &:hover {
    &::after {
      display: block;
      margin: -4px auto 0;
      background: $white;
      width: 100%;
      height: 4px;
      content: '';
    }
  }
}

.head-logo {
  float: left;
  margin: 0 5px 0 0;
}

%menu-link {
  padding: .8em 1em;
  color: $almost-white;
}

%menu-link-hover {
  background: transparent;
  color: $white;
}

.pure-menu-link {
  @extend %menu-link;

  &:visited {
    @extend %menu-link;
  }

  &:hover,
  &:focus {
    @extend %menu-link-hover;
  }
}

.pure-menu-selected {
  .pure-menu-link {
    @extend %menu-link;

    &:visited {
      @extend %menu-link;
    }

    &:hover,
    &:focus {
      @extend %menu-link-hover;
    }
  }
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 5px;
  right: 12px;
  width: 44px;
  height: 44px;

  .bar {
    display: block;
    position: absolute;
    top: 18px;
    right: 7px;
    border-radius: 100px;
    background-color: $light-green;
    width: 20px;
    height: 2px;
    transition-duration: .5s;

    &:first-child {
      transform: translateY(-6px);
    }
  }

  &.x {
    .bar {
      transform: rotate(45deg);

      &:first-child {
        transform: rotate(-45deg);
      }
    }
  }
}

.header-buttons {
  text-align: right;
}

.linkcount {
  color: $almost-white;
  font-size: .8em;
	line-height: 45px;
	text-align: right;
	font-style: italic;
	.strong {
		font-style: normal;
	}
	padding-right: 1rem;
}

.searchform {

	display: flex;
	align-items: center;
	flex-wrap: nowrap;

  input {
    &[type="text"] {
      border: medium none currentColor;
      border-radius: 4px;
      box-shadow: 0 1px 0 $light-shadow, 0 1px 1px $dark-shadow inset;
      background: $almost-white;
      padding: 0 12px;
      width: 220px;
      height: 30px;
      color: $dark-gray;
		margin-right: 12px;

      &::-webkit-input-placeholder {
        color: $light-gray;
      }
    }
  }

  button {
    border: 0;
    background-color: var(--main-color);
    padding: 0;
    color: $almost-white;
	position: relative;
	font-size: 26px;
	width: 44px;
	height: 44px;

	&:hover {
    	color: $white;
	}
  }
}

.header-search,
.search-linklist {
  button {
    &:hover {
      color: var(--background-color);
    }
  }
}

%subheader-form-input {
  border: medium none currentColor;
  border-radius: 2px;
  box-shadow: 0 1px 0 $light-shadow, 0 1px 4px $dark-shadow inset;
  background: $almost-white;
  padding: 5px 5px 3px 15px;
  color: $dark-gray;
}

.subheader-form {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 999;
  background: $orange;
  padding: 16px 0 4px;
  width: 100%;
  height: 52px;
  text-align: center;
	top: 0;
	right: 0;

	&.open {
		visibility: visible;

		* {
			visibility: visible;
		}
	}

  input {
    &[type='text'],
    &[type='password'] {
      @extend %subheader-form-input;

      &::-webkit-input-placeholder {
        color: $dark-gray;
      }
    }
  }

  &[type='submit'] {
    display: inline-block;
    margin: 0 0 5px;
    border: 1px solid $almost-white;
    border-radius: 2px;
    background: var(--main-color);
    padding: 4px 0;
    width: 100px;
    height: 28px;
    color: $almost-white;

    &:hover {
      background: $almost-white;
      color: var(--main-color);
    }
  }

  .remember-me {
    @extend %subheader-form-input;

    display: inline-block;
    cursor: pointer;
    padding: 5px 20px 3px;
    width: auto;

    label,
    input {
      cursor: pointer;
    }
  }

  a {
    &.button {
      border: 2px solid $almost-white;
      border-radius: 5px;
      padding: 3px 10px;
      text-decoration: none;
      color: $almost-white;
      font-weight: bold;
		&:hover {
			color: $orange;
			background-color: $almost-white;
		}
    }
  }
}

.header-login-form {
  input {
    &[type='text'],
    &[type='password'] {
      width: 200px;

      // because chrome
      &::-webkit-input-placeholder {
        color: $light-gray;
      }
    }
  }
}

.new-version-message {
  text-align: center;

  a {
    color: $warning-text;
    font-weight: bold;
  }
}

// CONTENT - GENERAL
.container {
	position: relative;
	z-index: 2;
	margin: auto;
}

// Plugins additional forms
.toolbar-plugin {
  margin: 5px 0;
  text-align: center;

  input {
    &[type='text'] {
      border: medium none currentColor;
      border-radius: 2px;
      box-shadow: 0 1px 0 $light-shadow, 0 1px 1px $dark-shadow inset;
      background: $almost-white;
      padding: 0 5px;
      width: 300px;
      height: 30px;
      color: $dark-gray;

      &::-webkit-input-placeholder {
        color: $light-gray;
      }
    }

    &[type='submit'] {
      border: medium none currentColor;
      border-radius: 2px;
      background: $almost-white;
      padding: 0 10px;
      height: 30px;
      color: $dark-gray;

      &:hover {
        background: $white;
      }
    }
  }
}

// CONTENT - LINKLIST PAGING
.linklist-filters {
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 22px;

  a {
    display: inline-block;
    margin: 0 6px;
    padding: 2px 8px;
	font-size: 20px;
    text-decoration: none;
	&:hover {
		background-color: $white;
	}
  }

  .filter-off {
    background: $almost-white;
    color: $dark-gray;
  }

  .filter-on {
    background: $orange;
    color: $dark-gray;
  }

  .filter-block {
    background: $red;
    color: $almost-white;
  }
}

.linklist-pages {
	display: inline-block;
	position: relative;
	top: 5px;
	line-height: 40px;

  a {
	color: $almost-white;
    text-decoration: none;
	font-size: 24px;
	display: inline-block;
	width: 32px;
	text-align: center;

    &:hover {
      color: $white;
    }
  }
	span {
		position: relative;
		top: -2px;
	}
}

#linklist-paging-bottom-content .linklist-pages {
	position: relative; 
	left: 50%; 
	transform: translateX(-50%);
	a {
		color: $dark-gray;
    	&:hover {
      		opacity: 0.8;
    	}
	}
}

.linklist-paging {
	position: relative;
    color: $almost-white;
}

.linksperpage {
	display: inline-block;

  a {
    background: $almost-white;
    padding: 5px;
    text-decoration: none;
    color: $dark-gray;
  }

	label {
		span {
			font-size: .8em;
		}
	}

  input {
    &[type="text"] {
      margin: 0 6px 0;
      border: medium none currentColor;
      background: $almost-white;
      padding: 0 8px 0 0;
      height: 27px;
      color: $dark-gray;
		text-align: right;
		width: 40px;
		border-radius: 4px;
    }
  }
}

// CONTENT - LINKLIST ITEMS
%private-border {
  display: block;
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 1;
  background: $orange;
  width: 2px;
  height: 96%;
  content: '';
}

.linklist-item {
  position: relative;
  margin: 0 0 24px;
	padding-left: 1rem;
	padding-right: 1rem;

  &.private {
	h2.linklist-item-title h2, h2.linklist-item-title a {
		color: $orange;
	}
	h2.linklist-item-title a:hover {
		color: $warning-text;
	}
  }
}

.linklist-item-buttons {
  position: relative;
  z-index: 99;
  background: transparent;
  width: 23px;
}

.linklist-item-buttons-right {
  float: right;
  margin-right: -25px;
}

.linklist-item-buttons * {
  display: block;
  float: left;
  margin: auto;
  width: 100%;
  text-align: center;
}

.linklist-item-tags {
	margin: 1em 0;
	position: relative;
	.ctrl-checkbox {
		position: relative;
		top: 7px;
		margin-right: 8px;
		input[type="checkbox"] {
			width: 24px;
			height: 24px;
		}
	}
}

h2.linklist-item-title {
	position: relative;
    margin: 0;
    word-wrap: break-word;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;

    a {
      vertical-align: middle;
      text-decoration: none;
		color: var(--main-color);
		i {
			font-size: 16px;
			position: relative;
			top: -2px;
			left: 16px;
		}

      &:hover {
		color: var(--dark-main-color);
      }
    }

  .label {
  }

  .label-sticky {
  }
}

.label-private {
	background-color: $orange;
}

.fold-button {
  display: none;
  color: $dark-gray;
}

.linklist-item-editbuttons {
  float: right;
  padding: 8px 5px;

  * {
    display: block;
    float: left;
    margin: 0 1px;
  }

  a {
    font-size: 1em;
  }

  .link-checkbox {
    display: none;
  }
}

.edit-link {
  color: $blue;
  font-size: 1.2em;
}

.delete-link {
  color: $red !important;
  font-size: 1.3em;
}

.pin-link {
  font-size: 1.3em;
}

.pinned-link {
	color: $blue !important;
}

.linklist-item-description {
  position: relative;
  color: $dark-gray;
  word-wrap: break-word;

  a {
    text-decoration: none;
    color: var(--main-color);

    &:hover {
      color: var(--main-color);
    }
  }
}

// Markdown
.daily-entry-description .markdown, .linklist-item-description .markdown {
	h1 {
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
	}
	h2 {
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
		font-style: italic;
	}
	h3 {
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
		margin: 1em 0 0;
	}
	h4, h5, h6 {
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
	}
	ol, ul {
		padding: 0 0 0 1.25em;
	}

	p + p, p + ul, p + ol {
		margin: .5em 0 0 !important;
	}
	ol li, ul li {
		margin: .5em 0 0;
	} 
	img {
		max-height: 400px;
	}
}

.linklist-item-thumbnail {
	float: right;
	margin: 16px 0 16px 16px;
}

.linklist-item-infos {
	position: absolute;
	top: -4px;
	right: 8px;
	text-align: right;

  a {
    text-decoration: none;
    color: $dark-gray;

    &:hover {
      color: $black;
    }
  }

  .mobile-buttons {
    text-align: right;
  }
}

.linklist-item-infos-url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	font-size: 12.7px;
	margin: 8px 0 4px;
	a {
		color: $blue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.linkdate {
	font-size: 12.7px;
	font-style: italic;
	color: $light-gray;
}

.linklist-item-infos-controls-item {
	display: inline-block;
	a {
		display: inline-block;
		border-radius: 3px;
		border: 1px solid $white;
		&.fa {
			font-size: 24px;
			padding: 4px 12px;
		}
		&:hover {
			border: 1px solid $blue;
		}
	}

	// This is needed for the js to work correctly
	a.fold-button {
		border: none;
		.fa {
			display: inline-block;
			border-radius: 3px;
			border: 1px solid $white;
			font-size: 24px;
			padding: 4px 12px;

			&:hover {
				border: 1px solid $blue;
			}
		}
	}
}

// Replace QR Code png with icon - need important to override plugin
.linkqrcode {
	display: initial !important;
	position: initial !important;
	a {
		&:before {
			font-family: "ForkAwesome";
			content: "\f029";	
			font-size: 24px;
			padding: 4px 12px;
		}
		img {
			display: none;
		}
	}
}

#permalinkQrcode {
	width: 240px !important;
	height: 260px !important;
	left: calc( 50% - 120px ) !important;
}

// Footer
.footer-container {
  margin: 20px 0;
  padding: 5px;
  text-align: center;
  color: $dark-gray;

  &::before {
    display: block;
    margin: 10px auto;
    background: linear-gradient(to right, var(--background-color), $dark-gray, var(--background-color));
    width: 80%;
    height: 1px;
    content: '';
  }

  a {
    color: $dark-gray;
  }
}

// PAGE FORM
%page-form-input {
  display: inline-block;
  margin: 8px 0 16px -6px;
  border: solid 1px $form-input-border;
  border-radius: 2px;
  padding: 5px 5px 3px 15px;
  height: 36px;
  width: 100%;
  color: $dark-gray;
}

%page-form-button {
  display: inline-block;
	position: relative;
	top: -1px;
	margin: 0;
	padding: 0 16px;
  border: 0;
  //box-shadow: 1px 1px 1px $form-input-border, -1px -1px 6px $form-input-border, -1px 1px 2px $form-input-border, 1px -1px 2px $form-input-border;
  background: var(--main-color);
  height: 36px;
  text-align: center;
  text-decoration: none;
  line-height: 36px;
  color: $almost-white;
	border-radius: 5px;
  font-size: 1.2em;
  font-weight: normal;
	.fa {
		font-size: 20px;
	}
	&:hover {
		background-color: var(--dark-main-color);
	}
}

.pure-g .page-form {
	position: relative;
	margin: 20px 0 0;
	padding: 4px 104px 60px;
  box-shadow: 1px 1px 2px $light-gray;
  background: $almost-white;
  overflow: hidden;
  color: $dark-gray;

	label {
		margin: 16px 0 0 6px;
		display: inline-block;
		font-weight: 500;
		width: 100%;
	}

  .window-title {
    margin: 16px 0px 24px;
    background: $almost-white;
    width: 100%;
    text-align: left;
    color: var(--main-color);
  }

  .window-subtitle {
    text-align: left;
  }

  a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
  }

  .pure-button {
    @extend %page-form-button;
  }

  p {
    margin: 0;
  }

  input {
    &[type="text"] {
      @extend %page-form-input;

      &::-webkit-input-placeholder {
        color: $light-gray;
      }
    }

    &[type="password"] {
      @extend %page-form-input;

      &::-webkit-input-placeholder {
        color: $light-gray;
      }
    }

    &[type="submit"] {
      @extend %page-form-button;
    }
  }

  button, .button {
	@extend %page-form-button;
  }

  textarea {
    @extend %page-form-input;

	line-height: 1.5;
    padding: 15px 5px 3px 15px;
    min-height: 265px;
    resize: vertical;
    overflow-y: auto;
    word-wrap: break-word;
  }

  select {
    color: $dark-gray;
	padding: 4px 16px 4px 8px;
  }

	label span + select {
		display: block;
		margin: 8px 0 16px -4px;
	}

  .button-red {
	background: $red !important;
	color: $white !important;
	&:hover {
		opacity: 0.8;
	}
  }

	.checkbox {
		font-weight: 400;
		input {
			margin-right: 4px;
		}
	}

	.radio-buttons {
		label {
			display: block;
			font-weight: 400;
		}

		input {
			margin-right: 4px;
		}
	}

  .submit-buttons {
	display: flex;
	justify-content: space-between;
    margin: 24px 16px;
  }

	.mark-private {
		position: relative;
		top: 36px;
		right: 16px;
		text-align: right;

		label {
			margin: 0;
			display: block;
		}
		input {
			margin-right: 4px;
		}
	}

  section {
    margin: 10px 0 25px;
  }

  table,
  th,
  td {
    border-width: 1px 0;
    border-style: solid;
    border-color: $light-gray;
	border-collapse: collapse;
  }

  th,
  td {
    padding: 5px;
  }

  table {
    margin: auto;
    width: 100%;

    .order {
      text-decoration: none;
      color: $dark-gray;
    }
  }
}

// PAGE FORM - COMPLETE
%page-form-valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Awesomeplete fix
div {
  &.awesomplete {
    width: inherit;

    > input {
      display: inherit;
    }

    > ul {
      z-index: 9999;
    }
  }
}

form {
  &[name='linkform'] {
    &.page-form {
      overflow: visible;
    }
  }
}

// Page visitor (page form extended)
.page-visitor {
  color: $dark-gray;
}

.page404-container {
  color: $dark-gray;
}

// EDIT LINK
.edit-link-container {
	margin-bottom: 32px;
  .created-date {
	float: right;
    margin-top: -52px;
    color: $light-gray;
  }
}

// LOGIN
.login-form-container {
  .remember-me {
    margin: 5px 0;
  }
}

// Search results
.search-result {
  a {
    text-decoration: none;
    color: $white;
  }

	.label:first-child {
		margin-left: 4px;
	}

  .label-tag {
    border-color: $white;

    .remove {
      margin: 0 0 0 5px;
      border-left: $white 1px solid;
      padding: 0 0 0 5px;
    }
  }

  .label-private {
    border: 1px solid $white;
  }
}

// TOOLS
.pure-g .tools-item {
  margin: 16px 0 24px;

  a.pure-button {
	min-width: 265px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
  }
}

// PLUGIN ADMIN
.pluginform-container {
  .mobile-row {
    font-size: .9em;
  }

  .more {
    margin-top: 10px;
  }
}

// TAG CLOUD
.pure-g .cloudtag-container {
  text-align: center;
  text-decoration: none;
  color: $dark-gray;
	margin: 0 -96px;

  a {
    text-decoration: none;
    color: $dark-gray;
	&:hover {
    	color: var(--main-color);
	}
  }

  .count {
    color: $light-gray;
	margin-left: 8px;
  }
}

.cloudtag {
	display: inline-block;
	margin: 0 0 -4px;
	padding: 2px 4px;
	border: 1px solid $almost-white;
	&:hover {
		border-color: $orange; 
	}
}

// TAG LIST
#search-tagcloud {
	margin: 32px 0;
	width: 550px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	.awesomplete {
		flex-grow: 1;
	}

	input {
		width: 100%;
	}

	button {
		margin: 0 16px;
	}
}

.taglist-container .tag-list-item {
	position: relative;
	font-size: 20px;
	width: 550px;
	padding: 0 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:hover {
		background-color: $light-green;
	}

	& > a {
		margin-left: 16px;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: $dark-gray;
		&:hover {
			opacity: 0.8;
		}
	}

	.tag-link {
		display: inline-block;
		flex-grow: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.count {
		padding: 0 20px;
		text-align: right;
		color: $light-gray;
	}

	.rename-tag, .delete-tag {
		padding: 0 20px;
		line-height: 44px;
		font-size: 24px;
		text-align: center;
		position: relative;
		top: 2px;
	}

	.rename-tag {
		color: $blue;
	}

	.rename-tag-form {
		display: none;
		position: absolute;
		top: 2px;
		left: 0;
		padding: 2px 0;
		z-index: 1;
		background-color: $light-green;
		.rename-tag-input {
			width: calc( 100% - 104px );
			margin-left: 1em;
		}
	}


  .delete-tag {
    display: none;
    color: $red;
  }

  .validate-rename-tag {
    color: var(--main-color);
	font-size: 24px;
	padding: 0 20px;
  }
}

// Picture wall CSS
.picwall-container {
  clear: both;
  margin: 0 10px 10px;
  background-color: $almost-white;
  color: $dark-gray;
}

.picwall-pictureframe {
  display: table-cell;
  position: relative;
  float: left;
  z-index: 5;
  margin: 2px;
  background-color: $almost-white;
  width: 90px;
  height: 90px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;

  // Adapt the width of the image
  img {
    max-width: 100%;
    height: auto;
    color: transparent;
  }

  a {
    text-decoration: none;
  }

  span {
    &.info {
      display: none;
    }
  }

  // CSS to show title when hovering an image - no javascript required.
  &:hover {
    span {
      &.info {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $dark-shadow;
        width: 90px;
        height: 90px;
        text-align: left;
        color: $almost-white;
        font-size: 9pt;
        font-weight: bold;
      }
    }
  }
}

.b-lazy {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  min-width: 1px;
  min-height: 1px;

  &.b-loaded {
    opacity: 1;
  }
}

// DAILY
.daily-desc {
  color: $light-gray;
  font-size: .8em;
  margin: -28px 0 16px;
}

#daily .daily-rss {
	display: inline-block;
	width: 44px;
	line-height: 44px;
	text-align: center;
	color: $blue;
	&:hover {
		opacity: 0.8;
	}
}

.daily-about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
	text-align: center;
	p:first-child {
		text-align: left;
	}
	p:last-child {
		text-align: right;
	}
}

.daily-entry {
  margin: 0 0 40px 0;
  padding: 0 8px;

  .daily-entry-title {
    margin: 8px 0 12px;

    a {
      text-decoration: none;
      color: $black;
    }
  }

  .daily-entry-thumbnail {
    display: block;
  }

  .daily-entry-description {
	margin: 0 0 12px 0;
    padding: 0;
    text-align: left;
    font-size: .9em;
    word-wrap: break-word;
    a {
      text-decoration: none;
      color: var(--main-color);

      &:hover {
        text-shadow: 1px 1px $background-linklist-info;
        color: var(--main-color);
      }
    }

	.markdown h1 {
		font-size: 20px;
		line-height: 24px;
	}
  }

  .daily-entry-tags {
    padding: 0;
    font-size: .8em;
  }
}

// Fix empty bookmarklet name in Firefox
.pure-button {
  -moz-user-select: auto;
}

.tag-sort {
	position: absolute;
	top: 28px;
	right: 16px;

  a {
    display: inline-block;
    margin: 0 12px;
    text-decoration: none;
    color: $white;
    font-weight: bold;
	&:hover {
    	text-decoration: underline;
	}
  }
}

.progressbar {
  border-radius: 6px;
  background-color: var(--main-color);
  padding: 1px;

  > div {
    border-radius: 10px;
    background: repeating-linear-gradient(
      -45deg,
      $almost-white,
      $almost-white 6px,
      var(--background-color) 6px,
      var(--background-color) 12px
    );
    width: 0%;
    height: 10px;
  }
}

.thumbnails-page-container {
  .progress-counter {
    padding: 10px 0 20px;
  }

  .thumbnail-placeholder {
    margin: 10px auto;
    background-color: $light-gray;
  }

  .thumbnail-link-title {
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.label-desc {
	font-size: .8em;
	font-weight: 400;
	color: $light-gray;
}

.input-desc {
	float: right;
	font-size: .8em;
	font-weight: 400;
	color: $light-gray;
	margin: -18px 16px 0 0;
}

.md_help {
	position: relative;
	top: 40px;
	right: 16px;
	text-align: right;
}

#editlink-plugins {
	float: right;
	font-size: 14px;
	margin-top: 16px;
}

.pure-g .server-row {
	margin-bottom: 16px;
}

.pure-g .server-tables {
	table {
		margin: 16px 0;
		border-collapse: separate;
		td, th {
			text-align: left;
			&:last-child {
				text-align: center;
			}
		}
	}
}

.pure-button-shaarli {
  @extend %page-form-button;
}

@media screen and (max-width: 64em) {
	.pure-g-full {
		width: 100%;
		min-width: 1024px;
	}
	#shaarli-menu {
		min-width: 1024px;
	}
}

@media screen and (min-width: 48.0625em) {

  .pure-u-lg-0 {
    display: none !important;
  }

  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
  }

  .pure-u-lg-visible {
    display: inline-block !important;
  }

  .page-form {
    .submit-buttons {
      position: relative;

      .button {
        &.button-red {
          position: absolute;
          right: 5%;
        }
      }
    }
  }
}

@media screen and (max-width: 48.0625em) {
	.pure-g-full {
		width: 100%;
		min-width: 0;
	}
	.pure-g-full > * {
		padding: 0;
	}
	.pure-u-lg-visible {
		display: none !important;
	}

	#shaarli-menu {
		width: 100%;
		min-width: 0;

		&.open {
			.pure-menu-item {
				display: block !important;
			}
		}
		.search-linklist {
			position: relative;
			padding: 0 1em;
		}

		.searchform {
			flex-wrap: wrap;
			div.awesomplete {
				display: block;
			}

			button {
				position: static;
				margin: 0;
			}

			input.searchterm {
			}
		}
	}

	.menu-toggle {
		display: block;
	}

	.page-form {
		.submit-buttons {
			.button {
				margin: auto;
			}
		}
	}

	.subheader-form {
		height: 104px;
		div > div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 12px 8px;
		}
	}

	.linklist-item {
		padding: 0 1em;
	}

	.linklist-paging {
		padding: 0;
		min-height: 48px;
	}

	.linklist-pages span:first-child {
		margin-left: 8px;
	}

	.linklist-item-infos {
		position: relative;
		top: 6px;
		right: 16px;
		min-width: calc( 100% + 32px );
		display: flex;
		justify-content: flex-end;
	}

	.linklist-filters {
		right: 8px;
		a {
			margin: 3px 2px;
		}
	}

	.pure-g .page-form {
		padding: 4px 1em;
	}

	.edit-link-container {
		.created-date {
			display: block;
			float: none;
			margin: -16px 0 8px;
			text-align: left;
			font-size: 0.8em;
		}

		.mark-private {
			font-size: 0.8em;
			margin: 4px 8px 0 0;
		}

		.md_help {
			margin: 18px 8px 0 0;
			font-size: 0.8em;
		}
	}

	.pure-g .cloudtag-container {
		margin: 0 -1em;
		font-size: 0.8em;
	}

	#search-tagcloud {
		width: 100%;
	}

	.taglist-container .tag-list-item {
		font-size: 16px;
		width: 100%;
		& > a {
			margin-left: 0;
		}
	}

	.tag-sort {
		position: relative;
		top: 0;
		right: -12px;
		text-align: right;
	}

	.tools-item {
		.pure-button {
			width: 100%;
		}
	}

  .header-search ,
  .header-search * {
    visibility: hidden;
  }

  .toolbar-plugin {
    input {
      &[type='text'] {
        width: 70%;
      }
    }
  }

  .pluginform-container {
    .main-row {
      border-top-style: none;
      border-bottom-style: none;

      td {
        border-top-style: none;
        border-bottom-style: none;
      }
    }
  }

  .timezone-continent {
    &::after {
      white-space: pre;
      content: '\a\a';
    }
  }

  .pure-g .server-tables {
    table {
      margin: 16px -6px;
      width: auto;
      font-size: 12px;
    }
  }
}

// Print rules
@media print {
  .shaarli-menu {
    position: absolute;
  }

  .search-linklist,
  .link-count-block,
  .linklist-item-infos-controls-group,
  .mobile-buttons {
    display: none;
  }
}
